
html {
  height: 100%;
  margin: 0;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-optical-sizing: auto;
  font-style: normal;
}



.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.navbar {
  position: relative;
  background-color: rebeccapurple;
  z-index: 5;
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: yellow;
  border: black;
  color: black;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}


.card-img-top-my-wish-list {
  object-fit: cover;
  height: 300px; /* Adjust the height to your preference */
  width: 100%; /* Ensure images fill their containers */
}

.password-container-create-account {
  position: relative;
  display: flex;
  align-items: center;
}

.form-control my-3 create-account {
  padding-right: 30px;
}

.no-underline {
  text-decoration: none !important;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}


#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.renderingElement {
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 5;
}

.renderingElement::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  z-index: -1;
}



.oui{
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  color: #FFFFFF;
  background-color: rebeccapurple;
  z-index: 0;
}

.nav-item {
  padding: 5px;
}

#welcomeText {
  font-family: "Bangers", sans-serif;
  font-weight: 200;
  font-size: 35px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 3px 0 black, -3px 0 black;
}

span {
  color: rgb(254, 200, 49);
  font-family: "Lobster", sans-serif;
}

.container-login {
  border: white 10px solid;
}

.card {
  border: white 5px solid;
}

