
html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-optical-sizing: auto;
  font-style: normal;

}



.container {
  max-width: 1200px;
  margin: 0 auto;
  flex-grow: 1;
}

.navbar {
  position: relative;
  background-color: rebeccapurple;
  z-index: 5;


}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f8e17a;
  border: black;
  color: black;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}




.password-container-create-account {
  position: relative;
  display: flex;
  align-items: center;
}

.no-underline {
  text-decoration: none !important;
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}


#myBtn:hover {
  background-color: #ffcf00;
}

.renderingElement {
  background-size: cover;
  background-position: bottom center;
  align-items: center;
}

.container-account {
  background-size: cover;
  background-position: bottom center;
  height: 85vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

}

.title-piges{
  background-color: #ffffff;
  font-family: "Bangers", sans-serif;
  font-weight: 200;
  font-size: 35px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;
  align-items: center;
}

.title-card-piges{
  background-color: #ffffff;
  font-family: "Bangers", sans-serif;
  font-weight: 200;
  font-size: 20px;
  letter-spacing: 2px;
  text-align: center;
  padding: 20px;
  align-items: center;
}

#container-pige-creation {
  background-color: #ffffff;
  border: white solid 3px;
  width: 40%;
  align-items: center;
  align-content: center;
  padding: 20px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Reddit Mono", monospace;
}

#account-box {
  margin-top: 10px;
}


.renderingElement::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /*background-color: rgba(0, 0, 0, 0.5);*/
  z-index: -1;
}

#container-about-main {
  padding-top: 30px;

}


.oui{
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  color: #FFFFFF;
  background-color: rebeccapurple;

  z-index: 0;
}

.nav-item {
  padding: 5px;


}

#welcomeText {
  font-family: "Bangers", sans-serif;
  font-weight: 200;
  font-size: 35px;
  letter-spacing: 1px;
  text-align: center;
  text-shadow: 3px 0 black, -3px 0 black;
  padding: 0px;
  margin: 0px;
  line-height: 80%;
}

.welcome-span {
  color: rgb(254, 200, 49);
  font-family: "Lobster", sans-serif;
}

.container-login {
  border: white 10px solid;
}

.card {
  border: white 5px solid;
  padding: 10px;
}

#link-text {
  text-decoration: none;
}

#container-contact {
  width: 45%;
  align-items: center;
  align-content: center;
  padding-top: 80px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Reddit Mono", monospace;
}

#container-create {
  width: 45%;
  align-items: center;
  align-content: center;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: "Reddit Mono", monospace;
}

#update-pw {
  font-style: italic;
}

#container-contact-main {
  border: white solid 3px;
  display: inline-grid;
  grid-template-columns: auto auto;
}

#connectText {
  text-align: center;
  font-family: "Reddit Mono", monospace;
  text-transform: uppercase;
  letter-spacing: 5px;
  padding: 0px;
  margin: 0px;
  line-height: 0.1%;
}




#container-faq {
  margin-top: 100px;
}
#container-about {
  padding: 20px;
  border: white 4px solid;
  border-radius: 1%;
  font-family: "Reddit Mono", monospace;
  text-transform: uppercase;
  font-size: 12px;
  background-color: #ffe385;
}

.title-about {
  font-family: "Bangers", sans-serif;
  text-shadow: 3px 0 #fc6e78, -3px 0 #fc6e78;
}

.title-createpige {
  color: #ffe600;
  font-family: "Bangers", sans-serif;
  text-shadow: 3px 0 black, -3px 0 black;
  text-align: center;
}

#container-forgot {
  border: #625FC8 solid 9px;

}

.msgError {
  color : white;
  font-size: 11px;
  font-style: italic;
}

.navbar-span {
  font-style: italic;
  color: white;
}

/*Montre les notifications d'invitation*/
.invNotif {
  text-align: center;
  /* padding: 0px !important; */
  color: #ffffff;
  /* padding: 4px 10px; */
  display: inline-block;
  background-color: orangered;
  line-height: 25px;
  /* display: initial; */
  height: 25px;
  margin-left: 5px;
  width: 25px;
  border-radius: 50%;
}

#home-label {
  font-family: "Reddit Mono", monospace;
  text-transform: uppercase;

}

.imgUserPige {
  max-width: 20% !important;
  height: 20% !important;
}
.card img {
  max-width: 100%;
  height: auto;
}


#container-update {
  align-content: center;
  display: inline-block;
  margin-bottom: 100px;

}


.card-custom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 200px;
}

.card-body {
  flex: 1;
}

.card-image {
  height: 20vh;
  width: 20vh;
  display: block;
  margin: auto;

}

.form-check-input:enabled {
  border-color: #e3b5b5;
  background-color: #e3b5b5;

}

.form-check-input:checked {

  border-color: #ff0000;
  background-color: #ff0000;
}

#piges-box {

  padding: 5px;
}



