
body {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  /*font-weight: <weight>;*/
  font-style: normal;
  font-variation-settings:
          "wdth" 100;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  position: relative;
  background-color: rebeccapurple;
  z-index: 5;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: darkgreen; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

.card-img-top {
  object-fit: cover;
  height: 300px; /* Adjust the height to your preference */
  width: 100%; /* Ensure images fill their containers */
}

.card-img-top-my-wish-list {
  object-fit: cover;
  height: 300px; /* Adjust the height to your preference */
  width: 100%; /* Ensure images fill their containers */
}

.password-container-create-account {
  position: relative;
  display: flex;
  align-items: center;
}

.form-control my-3 create-account {
  padding-right: 30px; /* Make space for the icon */
}

.toggle-password {
  position: absolute;
  right: 10px;
  cursor: pointer;
}


#myBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}

.renderingElement {
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  z-index: 5;
}

.renderingElement::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}



.oui{
  position: relative;
  z-index: 1;
}

.footer {
  position: relative;
  color: #FFFFFF;
  background-color: rebeccapurple;
  z-index: 0;
}





